---
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '^.*/lib/(carcassonne|libai|libcarcassonne|libsdlrender|libutils)/.*'
FormatStyle:     none
CheckOptions:    {}
SystemHeaders:   false
Checks: >
  clang-analyzer-*,
  performance-*,
  misc-*,
  bugprone-*,
  portability-*,
  readability-*,
  -misc-include-cleaner,
  -google-build-using-namespace,
  -bugprone-macro-parentheses,
  -misc-use-internal-linkage