---
WarningsAsErrors: ''
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: '^lib/(carcassonne|libai|libcarcassonne|libsdlrender|libutils)/.*'
FormatStyle:     none
CheckOptions:    {}
ExtraArgs:
  - '-D__INT64_C(c)=c##LL'
  - '-D__UINT64_C(c)=c##ULL'
SystemHeaders:   false
Checks: >
  clang-analyzer-*,
  performance-*,
  misc-*,
  bugprone-*,
  portability-*,
  readability-*,
  -misc-include-cleaner,
  -google-build-using-namespace,
  -bugprone-macro-parentheses,
  -misc-use-internal-linkage,
  -misc-no-recursion,
  -bugprone-sizeof-expression,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -bugprone-easily-swappable-parameters,
  -readability-isolate-declaration,
  -performance-no-int-to-ptr